@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --light-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #1c1e20;
}


body {
    background-color: #f5f4f4;
    height: 100vh;
}


.container {
    display: flex; 
}

/* SIDEBAR */

.image-sidebar {
    position: relative;
}

.img-text,
.img-credits {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
}

.img-text {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: rgba(6, 6, 8, 0.2);
    font-size: 8vh;
    font-family: 'Bebas Neue', sans-serif;
}

.img-credits {
    position: absolute;
    opacity: 0.7;
    bottom: 5px;
    font-size: 1rem;
}

.ela-image {
    height: max(100vh, 50vh);
}

a {
    text-decoration: none;
    color: rgb(123, 123, 138);
}

/* PAGE CONTENT */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section {
    width: 100vw;
    margin-top: 2%;
    font-family: sans-serif;
    background-color: white;
    box-shadow: var(--light-shadow);
}

h1 {
    font-size: 1.5rem;
}


/* FORM */

.form-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

header, .form-container, .form-confirmation {
    margin-left: 3%;
    width: 80%;
}

header, .form-section, .txt-above-form {
    margin-bottom: 30px;
}

label {
    font-size: 14px;

}
input {
    height: 30px;
    width: 250px;
}

li {
    list-style: none;
}

section {
    display: flex;
    column-gap: 80px;
    padding-bottom: 30px;
}

.form-container > h1 {
    margin-bottom: 20px;
}

button {
    width: 230px;
    height: 50px;
    margin-bottom: 30px;

    border: 1px solid;
    border-radius: 8px;
    box-shadow: var(--light-shadow);

    background-color: #191925;
    color: #f5f4f4;
    font-size: 1.2rem;
    font-weight: 600;
}