@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* SETUP */

:root {
    --light-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --input-box: 2px solid #E5E7EB;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #1c1e20;
}

body {
    background-color: #f5f4f4;
}

.container {
    display: flex; 
}

/* SIDEBAR */

.image-sidebar {
    position: relative;
}

.img-text,
.img-credits {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
}

.img-text {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: rgba(6, 6, 8, 0.2);
    font-size: 8vh;
    font-family: 'Bebas Neue', sans-serif;
}

.img-credits {
    position: absolute;
    opacity: 0.7;
    bottom: 5px;
    font-size: 1rem;
}

.ela-image {
    height: max(100vh, 50vh);
}

a {
    text-decoration: none;
    color: rgb(62, 157, 201)
}

/* PAGE CONTENT */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.form-section {
    margin-top: 2%;
    font-family: sans-serif;
    background-color: white;
    box-shadow: var(--light-shadow);
}

h1 {
    font-size: 1.7rem;
}

span {
    color: rgb(62, 157, 201);
}

/* FORM */

.form-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

header, .form-container {
    margin-left: 5%;
    width: 80%;
}

header, .form-section, .txt-above-form {
    margin-bottom: 30px;
}

label {
    font-size: 14px;
}

li {
    list-style: none;
}

section {
    display: flex;
    column-gap: 80px;
    padding-bottom: 30px;
}

.form-container > h1 {
    margin-bottom: 20px;
}

.form-confirmation {
    font-size: 13px;
}

button {
    width: 230px;
    height: 50px;
    margin-bottom: 20px;

    border: 1px solid;
    border-radius: 8px;
    box-shadow: var(--light-shadow);

    background-color: rgb(62, 157, 201);
    color: #f5f4f4;
    font-size: 1.2rem;
    font-weight: 600;
}

button:hover {
    background-color: rgb(62, 157, 201);
    cursor: pointer;
}

button:active {
    background-color: rgb(62, 157, 201);
    box-shadow: 0 2px rgb(170, 175, 175);
    transform: translateY(2px);
}


/* INPUT STYLING */

input {
    height: 30px;
    width:  15rem;
    border: var(--input-box);
    border-radius: 5px;
    outline: none;
    
    font-size: 1rem;
    padding-left: 10px;

    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:focus {
    box-shadow: var(--light-shadow);
    border: 2px solid rgb(62, 157, 201);
}

input::-webkit-input-placeholder {
    opacity: 0.3; 
    font-style: italic;
}

/* PASSWORD */

#eye {
    margin-left: -22px;
    cursor: pointer;
    color: gray;
    font-size: 14px;
    opacity: 0.4;
}

.pwd-feedback {
    font-size: 12px;
    color: rgb(226, 33, 33);
}